<!-- titlebar -->
<div class="w-full flex flex-col gap-2 mb-4 sm:flex-row sm:justify-between items-center">
  <h1 class="mb-0">Verzeichnis</h1>
  <div class="button-group">
    <button routerLink="/" [queryParams]="{showForm: true}" class="button button-primary">
      <span class="material-symbols-outlined">post_add</span>
      Buch eintragen
    </button>
    <button type="button" class="button">
      <span class="material-symbols-outlined text-blue-600">bar_chart</span>
      Visualisierung
    </button>
  </div>
</div>

<!-- filter and search -->
<div class="w-full flex flex-col flex-wrap gap-4 mb-4 xl:flex-row xl:flex-nowrap">
  <div class="inline-flex gap-2 flex-wrap items-center xl:w-full">
    <strong class="inline-flex items-center opacity-50 text-xs">
      <span class="material-symbols-outlined">filter_alt</span>
      Filter
    </strong>
    <span class="flag" *ngFor="let filter of activeFilter">
      {{ filter.label }} <strong>{{ filter.value }}</strong>
    </span>
    <button class="button button-icon" (click)="showFilterModal()" title="Filter bearbeiten">
      <span class="material-symbols-outlined">edit</span>
    </button>
  </div>
  <div class="w-full xl:w-auto">
    <input #searchfield type="text" class="form-input form-input-small form-search md:min-w-96"
      placeholder="Suche nach Titel oder ISBN" (keydown.enter)="search($event)">
  </div>
</div>

<!-- search and filter result notice -->
<ng-container *ngIf="resultNoticeVisible">
  <div class="flex justify-center gap-2 items-center flex-wrap mb-4">
    <span>{{data.length ? data.length : 'Keine' }} Ergebnis(se) gefunden <span *ngIf="searched">für:
        '{{searched}}'</span></span>
    <button class="button button-icon" title="zurücksetzen" (click)="reset()"><span
        class="material-symbols-outlined">close</span></button>
  </div>
</ng-container>

<!-- books data table -->
<div class="datatable">
  <table>
    <thead class="whitespace-nowrap">
      <tr>
        <th>Titel</th>
        <th>ISBN</th>
        <th>Jahr</th>
        <th>Seitenanzahl</th>
        <th class="text-right">Sprache</th>
        <th class="text-right">Sachgruppe</th>
        <th class="text-right">Vergütungswert (€)</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of data">
        <td>{{ book.title }}</td>
        <td>{{ book.isbn }}</td>
        <td>{{ book.year }}</td>
        <td>{{ book.pagecount }}</td>
        <td class="text-right">{{ book.language }}</td>
        <td class="text-right">{{ book.ddc }}</td>
        <td class="text-right">{{ book.remuneration }}</td>
        <td class="text-right whitespace-nowrap">
          <button (click)="edit(book.id)" type="button" class="button button-icon button-edit" title="bearbeiten">
            <span class="material-symbols-outlined">edit</span>
          </button>
          <button (click)="remove(book.id)" type="button" class="button button-icon button-delete" title="löschen">
            <span class="material-symbols-outlined">delete</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- filter modal -->
<app-modal *ngIf="filterModalVisible" (closing)="showFilterModal(false)">
  <app-bookfilterform width="400px" [filter]="filterData" (update)="runFilter($event)"
    (cancel)="showFilterModal(false)"></app-bookfilterform>
</app-modal>

<!-- deletion modal -->
<app-modal *ngIf="markedForRemoval" (closing)="markForRemoval()">
  <div class="text-center mb-2"><strong>"{{markedForRemoval.title}}"</strong> wirklich löschen?</div>
  <div class="button-group w-full items-center justify-center">
    <button (click)="remove(markedForRemoval.id)" class="button button-primary">Löschen</button>
    <button (click)="markForRemoval()" class="button">Abbrechen</button>
  </div>
</app-modal>