.datatable {
  overflow: auto;
  max-width: 100%;
}

.datatable table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}

.datatable th,
.datatable td {
  padding: .35rem .5rem;
}

.datatable th {
  font-size: .8rem;
  user-select: none;
  border-bottom: 1px solid var(--border-color);
}

.datatable tr:nth-child(even) {
  background-color: var(--gray-010);
}

.datatable tbody tr:hover {
  background-color: var(--blue-050);
}

/* sortables
 --------------------------------- */
.datatable [sortBy] {
  cursor: pointer;
}

.datatable [sortBy]::after {
  content: 'arrow_upward';
  font-family: 'Material Symbols Outlined';
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  margin-left: .1rem;
  opacity: 0;
}

.datatable [sortBy].desc::after {
  content: 'arrow_downward';
}

.datatable [sortBy].sorted::after {
  opacity: 1;
}