.datatable {
  overflow: auto;
  max-width: 100%;
}

.datatable table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}

.datatable th {
  font-size: .8rem;
  background-color: #f3f3f3;
}

.datatable th,
.datatable td {
  padding: .35rem .5rem;
}

.datatable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.datatable tbody tr:hover {
  background-color: var(--blue-050);
}