/* Wrapper
 --------------------------------- */
.form-field {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.form-fieldset {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 1rem;
}

.form-legend {
  font-weight: bold;
  padding: 0 .5em;
  color: var(--ci-primary);
}

.form-error {
  color: #ff3f3f;
  font-size: .8rem;
  font-weight: bold;
  display: block;
}

.ng-pristine+.form-error {
  display: none;
}

/* Form inputs
 --------------------------------- */
.form-label {
  font-weight: bold;
  font-size: .9rem;
}

.form-input {
  line-height: 1.2;
  appearance: none;
  display: block;
  width: 100%;
  padding: .5rem;
  font-size: 1rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: #fff;
}

select,
[type="checkbox"],
[type="radio"] {
  cursor: pointer;
}

[type='checkbox'].form-input {
  --_size: 1.1rem;

  width: var(--_size);
  height: var(--_size);
  max-width: var(--_size);
  max-height: var(--_size);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyNHB4IiBmaWxsPSIjZmZmIj4KICAgIDxwYXRoIGQ9Ik0zODItMjQwIDE1NC00NjhsNTctNTcgMTcxIDE3MSAzNjctMzY3IDU3IDU3LTQyNCA0MjRaIi8+Cjwvc3ZnPg==");
  border-width: 2px;
}

.form-input:checked {
  background-color: var(--ci-secondary);
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

select.form-input {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyNHB4IiBmaWxsPSIjNDc4OWEzIj4KICA8cGF0aCBkPSJNNDgwLTM0NCAyNDAtNTg0bDU2LTU2IDE4NCAxODQgMTg0LTE4NCA1NiA1Ni0yNDAgMjQwWiIvPgo8L3N2Zz4=");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: right .2rem center;
  padding-right: 1.8rem;
}

/* form input states
 --------------------------------- */
.form-input:focus,
.form-input:active,
.button:focus {
  --_border-color: var(--ci-secondary);

  outline: 0;
  border-color: var(--_border-color);
  box-shadow: 0 0 0 1px var(--_border-color);
}

.form-input.ng-dirty.ng-invalid {
  --_border-color: red;
  border-color: var(--_border-color);
}

/* Button base
 --------------------------------- */
.button {
  --_background-color: #dfdfdf;
  --_color: var(--fg-color);
  --_hover-background-color: #d3d3d3;
  --_hover-color: var(--fg-color);

  appearance: none;
  display: inline-block;
  background-color: var(--_background-color);
  color: var(--_color);
  padding: .5rem 1rem;
  line-height: 1.2;
  outline: 0;
  border: 0;
  font-weight: bold;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.button-group {
  display: inline-flex;
  gap: .3rem;
}

/* Button states
 --------------------------------- */

.button:hover {
  background-color: var(--_hover-background-color);
  color: var(--_hover-color);
}


.button[disabled] {
  opacity: .5;
  pointer-events: none;
}


/* Button variants
 --------------------------------- */
.button-primary {
  --_background-color: var(--ci-primary);
  --_color: #fff;
  --_hover-background-color: var(--ci-secondary);
  --_hover-color: #fff;
}

.button-icon {
  padding: .3rem .4rem;
  line-height: 1;
}


.button-small {
  padding: .4rem 1rem;
  font-size: .8rem;
}

.button-delete {
  --_color: var(--fg-color);
  --_background-color: transparent;
  --_hover-background-color: transparent;
  --_hover-color: #ff0000;
}

.button-edit {
  --_color: var(--fg-color);
  --_background-color: transparent;
  --_hover-background-color: transparent;
  --_hover-color: var(--ci-secondary);
}
