:root {
  /* font */
  --font-family: "Trebuchet MS", Verdana, sans-serif;
  --font-size: 15px;

  /* container settings */
  --border-radius: 5px;
  --container-width: 1000px;
  --gutter: 1.5rem;

  /* color palette */
  --blue-050: #edf3f6;
  --blue-060: #dae7ed;
  --blue-070: #c8dce3;
  --blue-080: #b5d0da;
  --blue-090: #a3c4d1;
  --blue-100: #91b8c8;
  --blue-200: #7eacbf;
  --blue-300: #6ca1b5;
  --blue-400: #5995ac;
  --blue-500: #4789a3;
  --blue-600: #407b93;
  --blue-700: #396e82;
  --blue-800: #326072;
  --blue-900: #2b5262;
  --blue-910: #244552;

  --green-070: #d3f3ca;
  --green-080: #c4efb9;
  --green-090: #b5eca7;
  --green-100: #a6e895;
  --green-200: #97e484;
  --green-300: #89e072;
  --green-400: #7adc61;
  --green-500: #6bd84f;
  --green-600: #60c247;
  --green-700: #56ad3f;
  --green-800: #4b9737;
  --green-900: #40822f;

  --orange-060: #ffedcc;
  --orange-070: #ffe4b3;
  --orange-080: #ffdb99;
  --orange-090: #ffd280;
  --orange-100: #ffc966;
  --orange-200: #ffc04d;
  --orange-300: #ffb733;
  --orange-400: #ffae1a;
  --orange-500: #ffa500;
  --orange-600: #e69500;
  --orange-700: #cc8400;
  --orange-800: #b37300;
  --orange-900: #996300;

  --red-070: #febfbf;
  --red-080: #fea9a9;
  --red-090: #fe9494;
  --red-100: #fd7f7f;
  --red-200: #fd6969;
  --red-300: #fd5454;
  --red-400: #fc3e3e;
  --red-500: #fc2929;
  --red-600: #e32525;
  --red-700: #ca2121;
  --red-800: #b01d1d;

  --gray-010: #fafafa;
  --gray-020: #f5f5f5;
  --gray-030: #f0f0f0;
  --gray-040: #ebebeb;
  --gray-050: #e6e6e6;
  --gray-060: #e0e0e0;
  --gray-070: #dbdbdb;
  --gray-080: #d6d6d6;
  --gray-090: #d1d1d1;
  --gray-100: #cccccc;
  --gray-200: #b8b8b8;
  --gray-300: #a3a3a3;
  --gray-400: #8f8f8f;
  --gray-500: #7a7a7a;
  --gray-600: #666666;
  --gray-700: #525252;
  --gray-800: #3d3d3d;
  --gray-900: #292929;
  --gray-910: #141414;

  /* specific colors */
  --ci-primary: var(--blue-500);
  --ci-secondary: var(--blue-700);
  --fg-color: #353535;
  --bg-color: #fff;
  --border-color: #ccc;
}