aside {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid var(--border-color);
  z-index: 20;
  padding: 1rem;
  transition: transform .2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}